In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
driver = webdriver.Chrome(r"C:\Users\prave\Downloads\Compressed\chromedriver.exe")
url = 'https://www.naukri.com/'
driver.get(url)

In [10]:
Search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
Search_job

In [12]:
Search_job.send_keys('Data Analyst')
Search_job

In [13]:
Search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
Search_loc.send_keys("Bangalore")
Search_loc

In [14]:
Search = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
Search.click()

In [17]:
title_job = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")

Job_title = []

for i in title_job:
    Job_title.append(i.text)
Job_title = Job_title[:10]
Job_title

['Senior Data Analyst II',
 'Software Technical Expert - Data Analyst',
 'Reference Data Analyst',
 'Sales Data Analyst',
 'Data Analyst',
 'Big data analyst',
 'Data Analyst',
 'Senior Business Analyst, Data Analytics & Engineering-DATA Engineer',
 'Data Analyst/Senior Data Analyst',
 'Data Analyst - Marketplace']

In [19]:
companies_tag = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")

Companies = []

for i in companies_tag:
    Companies.append(i.text)
    
Companies = Companies[:10]
Companies

['Flipkart',
 'Schneider Electric',
 'Deutsche Bank',
 'NUANCE INDIA PVT LTD',
 'Jio',
 'Accolite Software India Pvt Ltd',
 'BYJUS',
 'Artech Infosystems Pvt. Ltd.',
 'Meesho',
 'Gojek']

In [20]:
location_list = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")

Locations = []

for i in location_list:
    Locations.append(i.text)
    
Locations = Locations[:10]
Locations

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [22]:
experience = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

Experience = []

for i in experience:
    Experience.append(i.text)

Experience = Experience[:10]
Experience

['3-6 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '8-11 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '3-7 Yrs']

In [23]:
Data_1 = pd.DataFrame()
Data_1['Job Title'] = Job_title
Data_1['Companies Name'] = Companies
Data_1['Experience'] = Experience
Data_1['Location'] = Locations

Data_1

,Job Title,Companies Name,Experience,Location
0,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru
1,Software Technical Expert - Data Analyst,Schneider Electric,3-6 Yrs,Bangalore/Bengaluru
2,Reference Data Analyst,Deutsche Bank,2-5 Yrs,Bangalore/Bengaluru
3,Sales Data Analyst,NUANCE INDIA PVT LTD,1-3 Yrs,Bangalore/Bengaluru
4,Data Analyst,Jio,8-11 Yrs,Bangalore/Bengaluru
5,Big data analyst,Accolite Software India Pvt Ltd,2-6 Yrs,Bangalore/Bengaluru
6,Data Analyst,BYJUS,2-5 Yrs,Bangalore/Bengaluru
7,"Senior Business Analyst, Data Analytics & Engi...",Artech Infosystems Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
8,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru
9,Data Analyst - Marketplace,Gojek,3-7 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [24]:
driver = webdriver.Chrome(r"C:\Users\prave\Downloads\Compressed\chromedriver.exe")

In [25]:
url = 'https://www.naukri.com/'
driver.get(url)

In [26]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")
search_job

In [27]:
search_locn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn.send_keys('Delhi')
search_locn

In [28]:
Search = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
Search.click()

In [30]:
Title_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

Job_titles = []

for i in Title_tag:
    Job_titles.append(i.text)

Job_titles = Job_titles[:10]
Job_titles

['Genpact',
 'Xsys Software Technologies',
 'Eversana',
 'DataTrained',
 'AMSI TECHNOLOGIES PVT LIMITED',
 'IB Business Services',
 'ANBLICKS CLOUD DATA ENGG PRIVATE LIMITED',
 'Recodeminds Pvt Ltd',
 'SIBIA Analytics and Consulting Services Pvt Ltd',
 'cliqhr.com']

In [31]:
Company_tage = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

Company_name = []

for i in Company_tage:
    Company_name.append(i.text)

Company_name = Company_name[:10]
Company_name

['Genpact',
 'Xsys Software Technologies',
 'Eversana',
 'DataTrained',
 'AMSI TECHNOLOGIES PVT LIMITED',
 'IB Business Services',
 'ANBLICKS CLOUD DATA ENGG PRIVATE LIMITED',
 'Recodeminds Pvt Ltd',
 'SIBIA Analytics and Consulting Services Pvt Ltd',
 'cliqhr.com']

In [32]:
Exp_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

Experience = []

for i in Exp_tag:
    Experience.append(i.text)

Experience = Experience[:10]
Experience

['7-12 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '0-4 Yrs',
 '5-8 Yrs']

In [34]:
Locn_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")

Location = []

for i in Locn_tags:
    Location.append(i.text)

Location = Location[:10]
Location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Mathikere +11)',
 'Pune(Koregaon Park), Bangalore/Bengaluru(Bellandur)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Tirunelveli, Chennai, Bangalore/Bengaluru(Vidyaranyapura), Vellore',
 'Hyderabad/Secunderabad, Ahmedabad',
 'Hyderabad/Secunderabad',
 'Kolkata',
 'Bangalore/Bengaluru']

In [35]:
Data_2 = pd.DataFrame()
Data_2['Job Title'] = Job_titles
Data_2['Company'] = Company_name
Data_2['Experience'] = Experience
Data_2['Location']= Location
Data_2

,Job Title,Company,Experience,Location
0,Genpact,Genpact,7-12 Yrs,Bangalore/Bengaluru
1,Xsys Software Technologies,Xsys Software Technologies,0-5 Yrs,Bangalore/Bengaluru(Mathikere +11)
2,Eversana,Eversana,3-7 Yrs,"Pune(Koregaon Park), Bangalore/Bengaluru(Bella..."
3,DataTrained,DataTrained,0-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
4,AMSI TECHNOLOGIES PVT LIMITED,AMSI TECHNOLOGIES PVT LIMITED,4-9 Yrs,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
5,IB Business Services,IB Business Services,2-5 Yrs,"Tirunelveli, Chennai, Bangalore/Bengaluru(Vidy..."
6,ANBLICKS CLOUD DATA ENGG PRIVATE LIMITED,ANBLICKS CLOUD DATA ENGG PRIVATE LIMITED,3-6 Yrs,"Hyderabad/Secunderabad, Ahmedabad"
7,Recodeminds Pvt Ltd,Recodeminds Pvt Ltd,1-3 Yrs,Hyderabad/Secunderabad
8,SIBIA Analytics and Consulting Services Pvt Ltd,SIBIA Analytics and Consulting Services Pvt Ltd,0-4 Yrs,Kolkata
9,cliqhr.com,cliqhr.com,5-8 Yrs,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [70]:
driver = webdriver.Chrome(r"C:\Users\prave\Downloads\Compressed\chromedriver.exe")

In [71]:
driver.get("https://www.naukri.com/")

In [72]:
search1= driver.find_element(By.CLASS_NAME,'suggestor-input ')
search1.send_keys("Data Scientist")

In [ ]:
search_loc1 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc1.send_keys("Delhi/NCR")

In [75]:
Search = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
Search.click()

In [76]:
Salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[1]/label/i")
Salary.click()

In [86]:
Location = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/i")
Location.click()

In [87]:
Title_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

Job_titles = []

for i in Title_tag:
    Job_titles.append(i.text)

Job_titles = Job_titles[:10]
Job_titles

['Genpact',
 'Xsys Software Technologies',
 'Eversana',
 'DataTrained',
 'AMSI TECHNOLOGIES PVT LIMITED',
 'IB Business Services',
 'cliqhr.com',
 'Beeja Academy (Satvat Group of Companies)',
 'Aaum Research and Analytics Private Limited',
 'TotalAI Systems India LLP']

In [88]:
Company_tage = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

Company_name = []

for i in Company_tage:
    Company_name.append(i.text)

Company_name = Company_name[:10]
Company_name

['Genpact',
 'Xsys Software Technologies',
 'Eversana',
 'DataTrained',
 'AMSI TECHNOLOGIES PVT LIMITED',
 'IB Business Services',
 'cliqhr.com',
 'Beeja Academy (Satvat Group of Companies)',
 'Aaum Research and Analytics Private Limited',
 'TotalAI Systems India LLP']

In [89]:
Exp_tag = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")

Experience = []

for i in Exp_tag:
    Experience.append(i.text)

Experience = Experience[:10]
Experience

['7-12 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '2-3 Yrs',
 '1-3 Yrs',
 '4-7 Yrs']

In [90]:
Locn_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")

Location = []

for i in Locn_tags:
    Location.append(i.text)

Location = Location[:10]
Location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Mathikere +11)',
 'Bangalore/Bengaluru(Bellandur), Pune(Koregaon Park)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru, Chennai\n(WFH during Covid)',
 'Bangalore/Bengaluru(Vidyaranyapura), Chennai, Tirunelveli, Vellore',
 'Bangalore/Bengaluru',
 'Chennai(Adyar)',
 'Chennai\n(WFH during Covid)',
 'Remote']

In [92]:
Data_3 = pd.DataFrame()
Data_3['Job Title'] = Job_titles
Data_3['Company'] = Company_name
Data_3['Experience'] = Experience
Data_3['Location']= Location
Data_3

,Job Title,Company,Experience,Location
0,Genpact,Genpact,7-12 Yrs,Bangalore/Bengaluru
1,Xsys Software Technologies,Xsys Software Technologies,0-5 Yrs,Bangalore/Bengaluru(Mathikere +11)
2,Eversana,Eversana,3-7 Yrs,"Bangalore/Bengaluru(Bellandur), Pune(Koregaon ..."
3,DataTrained,DataTrained,0-2 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /..."
4,AMSI TECHNOLOGIES PVT LIMITED,AMSI TECHNOLOGIES PVT LIMITED,4-9 Yrs,"Bangalore/Bengaluru, Chennai\n(WFH during Covid)"
5,IB Business Services,IB Business Services,2-5 Yrs,"Bangalore/Bengaluru(Vidyaranyapura), Chennai, ..."
6,cliqhr.com,cliqhr.com,5-8 Yrs,Bangalore/Bengaluru
7,Beeja Academy (Satvat Group of Companies),Beeja Academy (Satvat Group of Companies),2-3 Yrs,Chennai(Adyar)
8,Aaum Research and Analytics Private Limited,Aaum Research and Analytics Private Limited,1-3 Yrs,Chennai\n(WFH during Covid)
9,TotalAI Systems India LLP,TotalAI Systems India LLP,4-7 Yrs,Remote

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [66]:
driver = webdriver.Chrome(r"C:\Users\prave\Downloads\Compressed\chromedriver.exe")

In [67]:
driver.get("https://www.flipkart.com/")

In [68]:
search = driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys("Sunglasses")

In [7]:
search_bott = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[2]/div[1]/div[2]/div[2]/form/div/button')
search_bott.click()

In [11]:
brand = driver.find_elements(By.XPATH,'//div[@class = "_2WkVRV"]')

Brand =[]

while len(Brand)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_1LKTO3']")
    for i in brand:
        Brand.append(i.text)

Brand = Brand[0:100]
len(Brand)

100

In [14]:
product = driver.find_elements(By.XPATH,'//a[@class = "IRpwTa"]')

Product =[]

while len(Product)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_1LKTO3']")
    for i in product:
        Product.append(i.text)

Product = Product[0:100]
len(Product)

100

In [15]:
price = driver.find_elements(By.XPATH,'//div[@class = "_30jeq3"]')

Price =[]

while len(Price)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_1LKTO3']")
    for i in price:
        Price.append(i.text)

Price = Price[0:100]
len(Price)

100

In [17]:
Data_4=pd.DataFrame()
Data_4['Brands']=Brand
Data_4['Product Description']=Product
Data_4['Price']=Price
Data_4

               Brands                                Product Description Price
0        Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹567
1        Silver Kartz           UV Protection Clubmaster Sunglasses (53)  ₹313
2            DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...  ₹177
3            Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹639
4           New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹264
..                ...                                                ...   ...
95          ROYAL SON     UV Protection, Polarized Round Sunglasses (54)  ₹664
96             SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...  ₹268
97         Lee Topper       UV Protection Cat-eye Sunglasses (Free Size)  ₹229
98  SHAAH COLLECTIONS  UV Protection, Polarized, Mirrored Rectangular...  ₹185
99          ROYAL SON   Polarized, UV Protection Aviator Sunglasses (57)  ₹759

[100 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.

You will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [10]:
driver = webdriver.Chrome(r"C:\Users\prave\Downloads\Compressed\chromedriver.exe")
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url)

In [15]:
rating = driver.find_elements(By.XPATH,'//div[@class = "_3LWZlK _1BLPMq"]')

Rating =[]

while len(Rating)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_3UAT2v _16PBlm']")
    for i in rating:
        Rating.append(i.text)

Rating = Rating[0:100]
Rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5']

In [12]:
review = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")

Review =[]

while len(Review)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_3UAT2v _16PBlm']")
    for i in review:
        Review.append(i.text)

Review = Review[0:100]
Review

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended']

In [13]:
full_review = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')

Full_review =[]

while len(Full_review)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_3UAT2v _16PBlm']")
    for i in full_review:
        Full_review.append(i.text)

Full_review = Full_review[0:100]
Full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',

In [14]:
Data_5=pd.DataFrame()
Data_5['Rating']=Rating
Data_5['Review Summary']=Review
Data_5['Full Review']=Full_review
Data_5

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

As shown in the below image, you have to scrape the tick marked attributes.

In [16]:
driver = webdriver.Chrome(r"C:\Users\prave\Downloads\Compressed\chromedriver.exe")
url='https://www.flipkart.com'
driver.get(url)

In [17]:
search = driver.find_element(By.CLASS_NAME,'_3704LK')
search.send_keys("sneakers")

In [20]:
search_bott = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_bott.click()

In [21]:
brand = driver.find_elements(By.XPATH,'//div[@class = "_2WkVRV"]')

Brand =[]

while len(Brand)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_1LKTO3']")
    for i in brand:
        Brand.append(i.text)

Brand = Brand[0:100]
len(Brand)

100

In [22]:
product = driver.find_elements(By.XPATH,'//a[@class = "IRpwTa"]')

Product =[]

while len(Product)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_1LKTO3']")
    for i in product:
        Product.append(i.text)

Product = Product[0:100]
len(Product)

100

In [23]:
price = driver.find_elements(By.XPATH,'//div[@class = "_30jeq3"]')

Price =[]

while len(Price)<=100:
    Next_page = driver.find_elements(By.XPATH,"//a[@class = '_1LKTO3']")
    for i in price:
        Price.append(i.text)

Price = Price[0:100]
len(Price)

100

In [24]:
Data_6=pd.DataFrame()
Data_6['Brands']=Brand
Data_6['Product Description']=Product
Data_6['Price']=Price
Data_6

,Brands,Product Description,Price
0,KWIK FIT,"Stylish and Trendy New Design Lightweight, Bre...",₹499
1,BIRDE,Modern Trendy Sneakers Shoes Sneakers For Men,₹378
2,BRUTON,Sneakers For Men,₹269
3,URBANBOX,Puma Smash v2 L Sneakers For Men,₹198
4,Magnolia,"Stylish Comfortable Lightweight, Breathable Wa...",₹399
...,...,...,...
95,LE GREEM,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹499
96,PUMA,"Stylish and Trendy New Design Lightweight, Bre...","₹1,819"
97,ONECENTRE,Modern Trendy Sneakers Shoes Sneakers For Men,₹299
98,CLYMB,Sneakers For Men,₹519
99,STRANGER BROTHERS,Puma Smash v2 L Sneakers For Men,₹599

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [8]:
from bs4 import BeautifulSoup

In [14]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.get("https://www.amazon.in/")
driver.maximize_window()

search_Box = driver.find_element(By.XPATH,"//div[@class = 'nav-search-field ']/input[@type='text']")
search_Box.send_keys("Laptop")
search_btn = driver.find_element(By.XPATH,"//input[@id= 'nav-search-submit-button']")
search_btn.click()

fltr_btn = driver.find_elements(By.XPATH,"//ul[@aria-labelledby= 'p_n_feature_thirteen_browse-bin-title']//div[@class= 'a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left']")
fltr_btn[3].click()

In [15]:
def extract_record(item):
    """Extract and return the Data from a Single record"""
    
    #Description
    atag = item.h2.a
    description = atag.text.strip()
    
    try:
        #Price
        price_parent = item.find('span', 'a-price')
        price = price_parent.find('span', 'a-offscreen').text
    except AttributeError: #Attribute error handeling
        price = ''
    
    try:
        #Rating
        rating = item.i.text
    except AttributeError: #Attribute error handeling
        rating = ''
        
        
    result = (description, price, rating)
    
    return result

In [16]:
records = []
soup = BeautifulSoup(driver.page_source, 'html.parser')
results = soup.find_all('div',{'data-component-type' : 's-search-result'})

for item in results:
    record = extract_record(item)
    if record:
        records.append(record)
        
records = records[:10]

driver.close()

title =[]
Ratings =[]
Price =[]

for i in records:
    title.append(i[0])
    Ratings.append(i[2])
    Price.append(i[1])
    
intel_core_i7_amazon = pd.DataFrame({"Title":title,"Ratings":Ratings,"Price":Price})
intel_core_i7_amazon

,Title,Ratings,Price
0,"Dell New Inspiron 3525 Laptop, AMD Athlon Silv...",4.0 out of 5 stars,"₹29,490"
1,HP 247 G8 Laptop (Athlon P-3045B HD/ 14 inch(3...,3.6 out of 5 stars,"₹28,849"
2,Lenovo E41-55 AMD 14-inch (35.56cm) HD Thin an...,,"₹24,999"
3,Lenovo E41-55 AMD 14-inch (35.56cm) HD Thin an...,3.4 out of 5 stars,"₹24,999"
4,Acer Extensa 15 AMD 3020e Dual-core Processor ...,3.5 out of 5 stars,"₹28,910"
5,Acer Aspire 3 AMD Athlon Silver 3050U Dual-cor...,3.7 out of 5 stars,"₹29,719"
6,"Lenovo V15 15.6"" FHD Laptop (4GB RAM/Iron Grey...",3.2 out of 5 stars,"₹28,599"
7,Lenovo 82C700D4IH V15 ADA AMD Athlon Silver 30...,3.3 out of 5 stars,"₹29,000"
8,Lenovo V15 AMD 39.62 cm (15.6-inch) FHD Thin a...,3.5 out of 5 stars,
9,Lenovo V15 AMD 15.6-inch FHD Thin and Light La...,3.7 out of 5 stars,"₹31,000"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 

This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [9]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.get(' https://www.ambitionbox.com/')

In [10]:
jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
jobs.click()

In [11]:
Search_job = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
Search_job.send_keys('Data Scientist')

In [12]:
Search = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
Search.click()

In [13]:
loc = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
loc.click()

In [14]:
Search_loc = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
Search_loc.send_keys('Noida')

In [15]:
Search_city = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
Search_city.click()

In [16]:
jobs_10 = driver.find_elements(By.XPATH,"//a[@class = 'title noclick']")

Jobs_10 =[]
for i in jobs_10:
    Jobs_10.append(i.text)
    
Jobs_10 = Jobs_10[:10]
Jobs_10

['Senior Data Scientist',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Science Trainer | AI | Machine Learning | Python |',
 'Principal Scientist - Machine Learning - IT (15-26 yrs)']

In [17]:
company_name = driver.find_elements(By.XPATH,"//p[@class='company body-medium']")

companies=[]

for i in company_name[0:10]:

    companies.append(i.text)
companies

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'InfoEdge India Ltd.',
 'Dew Solutions Pvt. Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting']

In [47]:
day_post = driver.find_elements(By.XPATH,'//span[@class = "body-small-l"]')

Day_post =[]
for i in day_post:
    Day_post.append(i.text)

Day_post = Day_post[0:20:2]
Day_post

['6d ago',
 '13d ago',
 '1mon ago',
 '7d ago',
 '12d ago',
 '1mon ago',
 '1mon ago',
 '11mon ago',
 '21d ago',
 '11mon ago']

In [45]:
rating = driver.find_elements(By.XPATH,'//span[@class = "body-small"]')

Rating =[]
for i in rating:
    Rating.append(i.text)

Rating = Rating[0:10]
Rating

['4.1', '4.0', '4.0', '4.1', '3.8', '3.7', '3.7', '4.1', '4.6', '4.2']

In [51]:
Data_9 = pd.DataFrame()
Data_9['Jods'] = Jobs_10
Data_9['Companies Name'] = companies
Data_9['Day of Post'] = Day_post
Data_9['Rating'] = Rating
Data_9

,Jods,Companies Name,Day of Post,Rating
0,Senior Data Scientist,Optum Global Solutions (India) Private Limited,6d ago,4.1
1,Data Scientist- Forecasting and R or Python,GENPACT India Private Limited,13d ago,4.0
2,Data Scientist,GENPACT India Private Limited,1mon ago,4.0
3,Data Scientist - NLP,CRMnext,7d ago,4.1
4,Data Scientist - NLP,Acidaes Solutions Pvt. Ltd.,12d ago,3.8
5,Data Science - Lead Data Scientist,Paytm,1mon ago,3.7
6,Data Scientist - Associate Vice President,Paytm,1mon ago,3.7
7,Senior Data Scientist - Artificial Intelligenc...,Randstad,11mon ago,4.1
8,Data Science Trainer | AI | Machine Learning |...,Careerera,21d ago,4.6
9,Data Scientist - Python/SQL/Redshift (4-7 yrs),Telus International,11mon ago,4.2

Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 

The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.

You have to scrape the data ticked in the above image.

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [43]:
driver = webdriver.Chrome(r"chromedriver.exe")
driver.get(' https://www.ambitionbox.com/')

In [44]:
Salaries=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
Salaries.click()

In [50]:
Search_job = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
Search_job.send_keys('Data Scientist')
Search = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div")
Search.click()

In [52]:
company_name = driver.find_elements(By.XPATH,"//div[@class='company-info']")

Companies=[]

for i in company_name[0:10]:

    Companies.append(i.text.split("\n")[0])
Companies

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Reliance Jio',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'EXL Service',
 'Deloitte']

In [66]:
total_sal = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')

Total_sal=[]



for i in total_sal[:10]:

    Total_sal.append(i.text)

Total_sal

['₹ 25.0L',
 '₹ 36.0L',
 '₹ 15.0L',
 '₹ 26.2L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 11.0L',
 '₹ 22.5L',
 '₹ 5.6L',
 '₹ 26.2L']

In [54]:
Average_sal =driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')

Average =[]


for i in Average_sal:
    Average.append(i.text)

Average = Average[0:10]
Average

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [60]:
min_sal =driver.find_elements(By.XPATH,"//div[@class='salary-values']")

Min =[]


for i in min_sal:
    Min.append(i.text.split('\n')[0])

Min = Min[0:10]
Min

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [61]:
max_sal =driver.find_elements(By.XPATH,"//div[@class='salary-values']")

Max =[]

for i in max_sal:
    Max.append(i.text.split('\n')[1])

Max = Max[0:10]
Max

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

In [63]:
experience_required = driver.find_elements(By.XPATH,'//div[@class = "sbold-list-header"]')

Experience =[]
for i in experience_required[:10]:
    Experience.append(i.text.split("(")[0])

Experience

['3 yrs experience ',
 '3-4 yrs experience ',
 '2 yrs experience ',
 '3-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ']

In [67]:
Data_10 = pd.DataFrame()
Data_10['Companies'] = Companies
Data_10['Totla Salary'] = Total_sal
Data_10['Avrage'] = Average
Data_10['min'] = Min
Data_10['Max'] = Max
Data_10['Experience'] = Experience
Data_10

,Companies,Totla Salary,Avrage,min,Max,Experience
0,Walmart,₹ 25.0L,₹ 30.6L,₹ 25.0L,₹ 36.0L,3 yrs experience
1,Ab Inbev,₹ 36.0L,₹ 20.8L,₹ 15.0L,₹ 26.2L,3-4 yrs experience
2,ZS,₹ 15.0L,₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs experience
3,Optum,₹ 26.2L,₹ 15.9L,₹ 11.0L,₹ 22.5L,3-4 yrs experience
4,Reliance Jio,₹ 11.0L,₹ 15.7L,₹ 5.6L,₹ 26.2L,3-4 yrs experience
5,Fractal Analytics,₹ 22.0L,₹ 15.5L,₹ 10.0L,₹ 23.0L,2-4 yrs experience
6,Tiger Analytics,₹ 11.0L,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
7,UnitedHealth,₹ 22.5L,₹ 14.0L,₹ 8.3L,₹ 21.1L,2-4 yrs experience
8,EXL Service,₹ 5.6L,₹ 13.2L,₹ 7.6L,₹ 21.0L,3-4 yrs experience
9,Deloitte,₹ 26.2L,₹ 12.8L,₹ 7.0L,₹ 25.0L,2-4 yrs experience